# For chatbot
torch 
torchvision 
torchaudio
openai
SpeechRecognition
librosa
soundfile
gTTs
ffmpeg
ffmpeg-python
pydub
PyAudio
pyttsx3
gradio
ipykernel
langchain-community
transformers
jupyter
playwright
accelerate>=0.26.0
openai
pypdf

# For YOLO
pandas 
opencv-python==4.10.0.84
ultralytics
supervision
pycocotools

# For Models
pandas
vit_pytorch
matplotlib
tensorboard
torch-tb-profiler

# Snowflake
#streamlit

# COCO
tensorflow_datasets
tensorflow
fiftyone

# Fraud
keras
seaborn

# word2vec
scipy==1.12
gensim

# speech recognition
python_speech_features

# Tracking
filterpy